footer{
    padding-top: 3.5em;
    background-color: white;
}

footer p{
    font-size: .75em;
    color: var(--gris-oscuro);
    margin-top: .2em;
}

footer h3{
    font-size: 1em ;
    color: var(--gris-oscuro);
    margin-bottom: .5em;
    font-weight: bold;
}

footer section{
    margin-bottom: 3em;
    text-align: center;
    padding: 0 2.5em;
}

footer section i{
    color: var(--celeste);
    font-size: 2em;
    margin-bottom: 10px;
}