<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="top-header">
            <div class="top-header-main">
                <figure class="logo"><img src="/img/logo-mercado-liebre.svg" alt=""></figure>
                <div class="searchbar">
                    <input placeholder='Buscar productos, marcas...' type="text">
                    <button type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
            <div class="top-header-cta">
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <div class="bottom-header">
            <nav class="menu" id="main">
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="menu" id="user">
                <ul>
                    <li><a href="/register">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
        </div>
        <nav class="burger-menu">
            <a href="" class="burger">
                <i class="fas fa-bars"></i>
            </a>
        </nav>
    </header>

    <section class="banner">
        <figure><img src="/img/img-home-banner.jpg" alt=""></figure>
    </section>

    <main>
        <div class="titulo"><h2>Basado en ultima visita</h2></div>
        <section class="productos">
            <article>
                <figure><img src="/img/img-cafetera-moulinex.jpg" alt=""></figure>
                <div class="info">
                    <div class="envio"><i class="fas fa-truck"></i></div>
                    <div class="precio">
                        <p>$6.770</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>
            <article>
                <img src="/img/img-macbook-pro-2019.jpg" alt="">
                <div class="info">
                    <div class="envio"><i class="fas fa-truck"></i></div>
                    <div class="precio">
                        <p>$230.000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                    <h3>MacBook Pro 2019</h3>
                </div>
            </article>
            <article>
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
                <div class="info">
                    <div class="envio"><i class="fas fa-truck"></i></div>
                    <div class="precio">
                        <p>$70.500</p>
                        <p class="descuento">5% OFF</p>
                    </div>
                    <h3>Samsung Galaxy S10</h3>
                </div>
            </article>
            <article>
                <img src="/img/img-tv-samsung-smart.jpg" alt="">
                <div class="info">
                    <div class="envio"><i class="fas fa-truck"></i></div>
                    <div class="precio">
                        <p>$23.200</p>
                        <p class="descuento">5% OFF</p>
                    </div>
                    <h3>SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
        <div class="titulo"><h2>Seccion de ofertas</h2></div>
        <section class="productos">
            <article>
                <img src="/img/img-cafetera-moulinex.jpg" alt="">
                <div class="info">
                    <div class="envio"><i class="fas fa-truck"></i></div>
                    <div class="precio">
                        <p>$6.770</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>
            <article>
                <img src="/img/img-macbook-pro-2019.jpg" alt="">
                <div class="info">
                    <div class="envio"><i class="fas fa-truck"></i></div>
                    <div class="precio">
                        <p>$230.000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                    <h3>MacBook Pro 2019</h3>
                </div>
            </article>
            <article>
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
                <div class="info">
                    <div class="envio"><i class="fas fa-truck"></i></div>
                    <div class="precio">
                        <p>$70.500</p>
                        <p class="descuento">5% OFF</p>
                    </div>
                    <h3>Samsung Galaxy S10</h3>
                </div>
            </article>
            <article>
                <img src="/img/img-tv-samsung-smart.jpg" alt="">
                <div class="info">
                    <div class="envio"><i class="fas fa-truck"></i></div>
                    <div class="precio">
                        <p>$23.200</p>
                        <p class="descuento">5% OFF</p>
                    </div>
                    <h3>SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o efectivo</h3>
            <p>Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fas fa-gift"></i>
            <h3>Envio gratis desde los $2500</h3>
            <p>Solo por estar registrado en Mercado Liebre tenes envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer porque estas siempre protegid@.</p>
        </section>
         <p>Copyright © 1999-2021 MercadoLiebre S.R.L</p>
    </footer>

</body>
</html>

